html[dark-theme="true"] {
	--color: rgb(250, 250, 250);
	--background-color: rgb(5, 5, 5);
}

html[dark-theme="false"] {
	--color: yellow;
	--background-color: orange;
}

.background {
	color: var(--color);
	background-color: var(--background-color);
	font-size: 15px;
}

.app-components {
	margin: 0 auto;
	padding: 3% 20%;
	justify-content: center;
}

/*tablet*/
@media screen and (min-width: 481) and (max-width: 1024px) {
	.app-components {
		margin: 0 auto;
		padding: 5% 5%;
	}
}

/*phone*/
@media screen and (max-width: 480px) {
	.app-components {
		margin: 0 auto;
		padding: 5% 5%;
	}
}
