html[dark-theme="true"] {
	--color: rgb(250, 250, 250);
	--background-color: rgb(5, 5, 5);
}

html[dark-theme="false"] {
	--color: yellow;
	--background-color: orange;
}

.background {
	color: var(--color);
	background-color: var(--background-color);
	font-size: 15px;
}

.todo-div {
	padding: 0.3rem 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.todo-children {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	justify-content: center;
}

.todo-caption {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
}

.new-todo-button-div {
	width: 100%;
	display: flex;
	justify-content: center;
}
